@import "../omarchy/current/theme/waybar.css";

@define-color accent-alert shade(@foreground, 0.7);
@define-color border-accent #78824b;

* {
  border: none;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @foreground;
}

.modules-left,
.modules-right,
.modules-center {
  margin: 10px 10px 2px 10px;
  padding: 1px 0 1px;
  border: 2px solid @border-accent;
  background-color: @background;
  box-shadow: 0 1px 6px 2px alpha(#000000, 0.8);
}

.modules-left {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

#custom-omarchy {
  font-size: 13px;
}

#window {
  margin: 3px;
  padding: 1px;
}

#workspaces {
    padding: 1px 2px 1px;
    background-color: alpha(@foreground, 0.3);
    opacity: 0.95;
}

#workspaces button {
    padding: 0px 5px;
    margin: 1px 2px;
    background-color: alpha(@foreground, 1);
    color: @background;
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
    font-size: 8px;
}

#workspaces button.active {
    color: @foreground;
    background-color: @background;
    min-width: 30px;
    opacity: 1.0;
}

#workspaces button:hover {
    color: @foreground;
    background: @background;
    min-width: 30px;
    opacity: 0.9;
}

#workspaces button.empty {
  opacity: 0.2;
}

#hyprland-window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

#custom-update {
  font-size: 10px;
  margin: 2px;
}

#clock, #idle_inhibitor {
  margin-left: 8.75px;
}

#clock,
#hyprland-window,
#window {
  margin: 0 6px 0 0;
  padding: 3px 8px;
  border: 2px solid @border-accent;
  background-color: @background;
  box-shadow: 0 1px 6px 2px alpha(#000000, 0.8);
}

#hyprland-window,
#window {
  border: none;
  background: transparent;
  box-shadow: none;
  color: #d7c483;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: @accent-alert;
}



#idle_inhibitor {
  margin-right: 5px;
}

#tray-expander {
  margin-left: 5px;
}

tooltip {
  opacity: 0.95;
  padding: 4px;
  background: @background;
  font-size: 12px;
  border: 2px solid @border-accent;
}
tooltip label {
  color: @foreground;
}
